body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #111215;
}

.credits-container {
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    padding: 100px 20px;
    text-align: center;
    color:white;
    font-family: 'Poppins', sans-serif; 
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.credit-section {
    margin-bottom: 20px;
    text-align: center;
}

.credit-section ul {
    list-style: none;
    padding: 0;
    margin: 0px;
}

.credit-section li {
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

p {
    font-size: 1rem;
    line-height: 1.5;
}

a{
    text-decoration: none;
    color:rgb(255, 110, 110);
}